<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../_share/metadata.ejs") %>
  <title>第７地域</title>
  <%- include("../_share/stylesheets.ejs") %>
</head>

<body>
  <div class="outerframe">

  <%- include("../_share/navbar.ejs") %>

  <main role="main" class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for (var item of results) { %>
      <%- include("./item.ejs", item) %>
      <% } %>
    </div>

    <nav class="mt-4">
      <ul class="pagination justify-content-center">
        <% for(var i = 1; i <= pagenation.max; i++) { %>
          <% if ( pagenation.current !== i) { %>
          <% if ( i <= 3 || (pagenation.current - 3 < i && i < pagenation.current + 3) || pagenation.max - 3 < i ) {%>
          <li class="page-item"><a class="page-link" href="/district-7/?page=<%= i %>"><%= i %></a></li>
          <% } else {%>
          .
          <% } %>
          <% } else {%>
            <li class="page-item active"><span class="page-link disabled"><%= i %></span></li>
          <% } %>
        <% } %>
      </ul>
    </nav>
  </main>
  <%- include("../_share/advertisement.ejs") %>
  <%- include("../_share/footer.ejs") %>

  </div>
  <%- include("../_share/javascripts.ejs") %>
</body>

</html>